:root{
    background-color: black;
    color: white;
}

html{
    scroll-behavior: smooth;
    justify-content: center;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
    position: sticky;
    top: 0;
}
.flex:not(ul, .avatar){
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    height: 5rem;
    padding: 2rem;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.avatar{
    display: inline-block;
    border:none;
    overflow: hidden;
    object-fit: contain;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    align-items: center;
}
.name{
    display: inline-block;
    font-size: 38px;
    justify-content: left;
}

.liam{
    color: rebeccapurple;
    font-style: bold;
}
.liam:hover{
    color: steelblue;
}

.navigation{
    justify-content: right;
}

.button-style{
    background-color: rebeccapurple;
    border: none;
    border-radius: 100vw;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-style: bold;
    margin: 0;
    cursor: pointer;
}
.button-style:hover{
    background-color: steelblue;
}



a{
    color: inherit;
    text-decoration: inherit;
}

nav ul{
    list-style: none;
    gap: var(--gap, 1rem);

}

.hero{
    display: block;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    max-width: 75vw;
    background-color: steelblue;
}

.sect

.wrapper{
    padding: 25vh;
    max-width: 75vw;
    position: relative;
    justify-content: center;
}
.wrapper h2{
    font-size: 1em;
}


.row-span-2{
    grid-row: span 2;
}

.row-span-4{
    grid-row: span 4;
}

.grid{
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1660px){
    .grid{
        display: grid;
        gap: 2vw;
        grid-template-columns: repeat(2, 1fr);
    }
}

.box-wrapper{
    position: relative;
    justify-content: center;
    max-width: 75vw;
    padding: 10rem;    
}

.box-wrapper .feature-project-tile{
    transition: all 1s ease-in-out;
    width: 25vw;
    height: 50vw;
    background: steelblue;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5vw;
}

.box-wrapper .project-tile{
    width: 25vw;
    height: 24vw;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5vw;
    transition: all 1s ease-in-out;
    background: rebeccapurple;
}

.box-wrapper .minor-project-tile{
    width: 25vw;
    height: 11vw;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5vw;
    transition: all 1s ease-in-out;
    background: rebeccapurple;
}

.feature-project-tile:hover img{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    opacity: 0.5;
}

.project-tile:hover,.minor-project-tile:hover{
    transition: all 1s ease-in-out;
    background: steelblue;
}

.section-set:not(.hero){
    min-height: 100vh;
    min-width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

#projects p{
    flex: block;
    margin: auto;
    text-align: center;
    height: 1000;    
}

.projects{
    display: flex;
}


#contact ul{
    list-style: none;
    display: flex;
    gap: var(--gap, 2rem);
    justify-content: center;
    align-items: center;
}

.contact-infortmation{
    background-color: rebeccapurple;
    border: none;
    border-radius: 100vw;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}
.type{
    background-color: rebeccapurple;
    border: none;
    border-radius: 100vw 0 0 100vw;
    padding: 0.5rem;
}

.item{
    background-color: rebeccapurple;
    border: none;
    border-radius: 0 100vw 100vw 0;
    padding: 0.5rem;
}

footer{
    display: flex;
    justify-content: center;
}