:root{
    background-color: black;
    color: white;
    --profile-image-size: 250px;
    --profile-border-size: calc(var(--profile-image-size) + 40px);
}

html{
    scroll-behavior: smooth;
    display: block;
    justify-content: center;
}

/* START Header and Navigation Styling */
/* Keeps header at top of page at all times */
header{
    position: sticky;
    top: 0;
} 

/* Navigational element styling for the blur and section height etc */
nav{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    height: 100px;
    width: 100%;
}

/* Styling for the name including transtiional elements to transition between blue and purple */
.name{
    color: white;
    font-size: 50px;
    line-height: 100px;
    font-weight: bolder;
    margin-left: 310px;
    float: left;
}
.liam{
    transition: all 0.25s ease-in-out;
    color: rebeccapurple;
    font-style: bold;
}
.liam:hover{
    transition: all 0.25s ease-in-out;
    color: steelblue;
}

/* Styling for the nav buttons themselves, including transition between blue and purple */
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}
nav ul li a{
    transition: all 0.25s ease-in-out;
    color: white;
    background-color: rebeccapurple;
    border-radius: 100vw;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
nav ul li a:hover{
    transition: all 0.25s ease-in-out;
    background-color: steelblue;
}

/* Implimenting the menu button for smaller screen sizes */
#menu{
    display: none;
}
.menu-button{
    font-size: 35px;
    color: rebeccapurple;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu-button:hover{
    color: steelblue;
}

/* Styling for the profile image and border, including the blur for the border */
.profile-image{
    position: absolute;
    top: 0;
    float: left;
}
.visibility{
    height: 190px;
    width: 290px;
    top: 100px;
    overflow: hidden;
    position: absolute;
}
.profile-border{
    position: absolute;
    top: -100px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    height: var(--profile-border-size);
    width: var(--profile-border-size);
    border-radius: 25%;
}
.avatar{
    height: var(--profile-image-size);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 25%;
    transition: all 0.5s;
}
/* END Header and Navigation Styling */


/* START Styling for Hero section */
.hero{
    display: flex;
    margin: auto;
    height: calc(100vh - 100px);
    justify-content: right;
}
.hero-wrapper h2{
    text-align: right;
    font-size: 2vw;
    background-color: rebeccapurple;
    max-width: 55vw;
    max-height: 33vw;
    border-radius: 10vw;
    margin-top: 15vh;
    padding: 5rem;
}
.colored-words{
    transition: all 0.5s;
}
.colored-words:hover{
    transition: all 0.5s;
    color: steelblue;
    cursor: pointer;
}
/* END Styling for Hero section */

/* START Styling for About section */
.about p{
    background: rebeccapurple;
    color: white;
    width: 33vw;
    margin: auto;
    padding: 2em;
    font-size: 1.25em;
    border-radius: 10%;
}
/* END Styling for About section */

/* START Styling for the Projects section*/
section:not(.hero){
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    flex-direction: column;
    padding-top: 100px;
}
h2{
    margin-left: 20rem;
    margin-top: 2rem;
    font-size: 3rem;
    line-height: 100px;
}
.projects .feature-project-tile h3{
    background: rebeccapurple;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 100vw;
    position: absolute;
    margin-top: -170px;
    margin-left: -30px;
}
.box-wrapper{
    justify-content: center;
    margin: auto;
    max-width: 75vw;
    max-height: calc(100vh - 200px);     
}
.box-wrapper .feature-project-tile{
    transition: all 1s ease-in-out;
    width: 40vh;
    height: 70vh;
    background: steelblue;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5vw;
}
.box-wrapper .project-tile{
    width: 40vh;
    height: 34vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5vw;
    transition: all 1s ease-in-out;
    background: rebeccapurple;
}
.box-wrapper .minor-project-tile{
    width: 40vh;
    height: 15vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5vw;
    transition: all 1s ease-in-out;
    background: rebeccapurple;
}
/* Grid setup */
.row-span-2{
    grid-row: span 2;
}
.row-span-4{
    grid-row: span 4;
}
.grid{
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
}

.feature-project-tile:hover img{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    opacity: 0.5;
}

.project-tile:hover,.minor-project-tile:hover{
    transition: all 0.5s ease-in-out;
    background: steelblue;
}

.section-set:not(.hero){
    min-height: 100vh;
    min-width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
/* END Styling for the Projects section */

#contact ul{
    list-style: none;
    display: flex;
    gap: var(--gap, 2rem);
    justify-content: center;
    align-items: center;
}

.contact-infortmation{
    display: flex;
    flex-wrap: wrap;
    background-color: rebeccapurple;
    border: none;
    border-radius: 100vw;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}
.type{
    background-color: rebeccapurple;
    border: none;
    border-radius: 100vw 0 0 100vw;
    padding: 0.5rem;
}

.item{
    background-color: rebeccapurple;
    border: none;
    border-radius: 0 100vw 100vw 0;
    padding: 0.5rem;
}

footer{
    display: flex;
    justify-content: center;
}

/* Media Queries */
@media all and (max-width: 1565px){
    .grid{
        grid-template-columns: 1fr;
    }
    .hero-wrapper h2{
        font-size: 1.6vw;
        max-height: 66vw;
    }
}
@media all and (max-width: 1225px){
    .name{
        font-size: 45px;
    }
    nav ul li a{
        font-size: 15px;
    }
    .hero{
        justify-content: center;
    }
    .hero-wrapper h2{
        text-align: center;
        margin: auto;
        margin-top: 10vh;
        max-height: 75vh;
    }
}
@media all and (max-width: 1075px){
    .menu-button{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        background: rgb(70, 130, 180, 0.95);
        text-align: center;
        left: 100%;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin-left: 200px;
    }
    #menu:checked ~ ul{
        left: 0;
    }
}
@media all and (max-width: 765px){
    .avatar{
        height: 80px;
        margin-top: 10px;
        margin-left: 40px;
        transition: all 0.5s;
    }
    .name{
        display: none;
    }
    .profile-border{
        display:none;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        margin: auto;
    }
}