:root{
    background-color: black;
    color: white;
}

.flex:not(ul){
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
}
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}
.primary-header{
    align-items: center;
    justify-content: space-between;
}

.button-style{
    background-color: rebeccapurple;
    border: none;
    border-radius: 100vw;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}
.button-style:hover{
    background-color: steelblue;
}

a{
    color: inherit;
    text-decoration: inherit;
}

nav ul{
    list-style: none;
    gap: var(--gap, 1rem);

}

.hero{
    flex: block;
    margin: auto;
    text-align: center;
    max-width: 1024px;
    height: 200px;
    background-color: rebeccapurple;
}
.hero img {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

#projects{
    height: 1000;
}

#projects p{
    flex: block;
    margin: auto;
    text-align: center;
    max-width: 1024px;
    height: 1000;    
}

.projects{
    display: flex;
}

#contact ul{
    list-style: none;
    display: flex;
    gap: var(--gap, 1rem);
    justify-content: right;
    align-items: center;
}

.contact-infortmation{
    background-color: rebeccapurple;
    border: none;
    border-radius: 100vw;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}